{% extends 'base.html' %}

<body>
{% block content %}
<br>
<br>
  <div class="content">
    
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          

          <div class="row justify-content-center">
            <div class="col-md-6">
              
              <h3 class="heading mb-4">Let's talk about everything!</h3>
              <p>{% lorem 1 b %}</p>
              <br>
              

              
              
              
              
            </div>
            <br>
            <div class="col-md-6">
              
              <form class="mb-5" method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-12 form-group">
                    {{form.name}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    {{form.email}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    {{form.subject}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    {{form.message}}
                  </div>
                </div>  
                <div class="row">
                  <div class="col-12">
                    <input type="submit" value="Send Message" class="btn btn-primary rounded-0 py-2 px-4">
                  <span class="submitting"></span>
                  </div>
                </div>
              </form>

              <div id="form-message-warning mt-4"></div> 
              <div id="form-message-success">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
<script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/main.js"></script>
</body>