{% extends 'base.html' %}
{% load static %}
{% block scripts %}
<script type='text/javascript'>
    window.addEventListener('load', async function(){
        let response = await fetch('/api/items/');
        let items = await response.json();
        for(let item of items){
            document.querySelector('#kart').innerHTML += `
            <div class='col-md-4'>
                <div class='kart'>
                    <div class="card" style="width: 18rem;">
                        <img src="${item.image}" width=120 height=80 alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">${item.name}</h5>
                            <p class="card-text">${item.description}</p>
                            <p class="card-text">${item.price}</p>
                        </div>
                    </div>
                    <br><br><br>
                </div>
            </div>
            `
        }
        
    })
</script>
{% endblock scripts %}

<body>
{% block content %}
<div class='container'>
    <div class='row' id='kart'>
          
    </div>
</div>
<br>    
{% endblock %}
</body>